<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!-- 1048576 -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="104857" executionTimeout="3600" targetFramework="4.5" />
    <customErrors mode="RemoteOnly" defaultRedirect="/404/404.html" redirectMode="ResponseRewrite"></customErrors>
    
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Project.aspx" name=".LANBANAUTH"></forms>
    </authentication>

  </system.web>

  <location path="404.html">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>

  <location path="project.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485700" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
