/*Reset*/
a {
    text-decoration: none;
    color: white;
}

/*1. Main structure*/
body {
    margin: 0px;
    padding: 0px;
    min-width: 1000px;
    font-family: "Open Sans",sans-serif;
    overflow: hidden;
}

#container {
    background: url("../images/background/background.jpg") fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#sidebar, #content {
    float: left;
    margin: 0px;
    padding: 0px;
}

/*1.1 Sidebar*/
#sidebar {
    width: 60px;
    height: 100%;
    color: white;
    background: none repeat scroll 0% 0% rgba(25, 15, 15, 0.79);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.75s ease;
}

    #sidebar:hover {
        background: none repeat scroll 0% 0% rgba(255, 106, 0, 0.77);
    }

/*sidebar icon*/
.sidebar_icon_med {
    height: 30px;
    width: 30px;
    margin: auto;
    transition: 0.25s ease;
    cursor: pointer;
    border: none;
}


/*Sidebar structure*/
#panel, #info {
    margin: 0px;
}

/*1.1.1 Panel*/
#panel {
    padding: 0px;
    text-align: center;
    min-height: 310px;
    height: calc(100% - 135px);
}

    #panel li {
        list-style: none;
        background-size: 48px 48px;
        width: 48px;
        height: 48px;
        display: block;
        margin: 15px auto;
        padding: 0px;
        transition: 0.25s ease;
        cursor: pointer;
    }

        #panel li.show {
            box-shadow: 0 0 1px 1px white;
        }

        #panel li:hover {
            height: 54px;
            width: 54px;
            background-size: 54px 54px;
        }

/*1.1.2 Info */
#info {
    height: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
    font-size: 12px;
}

#info hr {
    margin: 0px 0px 10px 0px;
    color: rgba(255, 255, 255, 0.6);
}

#profile {
    width: 48px;
    height: 48px;
    margin: auto auto 8px auto;
    border-radius:  50%;
}

#btnLogout {
    display: block;
    background: url('../images/sidebar/logout.png') no-repeat center;
    background-size: 30px 30px;
}

/*1.3 Content*/
#content {
    height: 100%;
    overflow: hidden;
    width: calc(100% - 61px);
}

/*1.3.1 Window UI*/
.window {
    display: none;
    background-size: auto, 100% 100%;
    background-repeat: repeat-x, no-repeat;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 0px 20px #000;
    color: white;
}

.view {
    background-image: url("../images/background/top-bg.png"), url("../images/background/main_background.jpg");
    background-position: initial, left bottom;
    opacity: 0;
    width: 600px;
    height: 90%;
    min-height: 310px;
    margin-top: 2%;
    margin-left: 7%;
    transition: opacity 0.25s ease;
}

    .view.show {
        opacity: 1;
    }

.title-bar {
    color: rgba(25, 15, 15, 0.79);
    height: 30px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: move;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.window-content {
    height: 90%;
    overflow: hidden;
    position: relative;
    padding: 0px;
}

/*1.3.2 Dialog UI*/

.diaglog {
    background: url("../images/background/top-bg.png") repeat-x, url("../images/background/main_background.jpg") bottom no-repeat;
    position: absolute;
    left: 40%;
    top: 30%;
    width: 350px;
    height: 150px;
    color: white;
    z-index: 999;
}

    .diaglog[data-diaglog-type="Processing"] {
        background: url('../images/background/top-bg.png') repeat-x, white;
    }

.diaglog-content {
    padding: 10px 20px;
    text-align: center;
}


/*Other button*/
.button.medium {
    width: 80px;
    height: 40px;
    line-height: 32px;
    border-radius: 5px;
    border: solid 1px white;
    cursor: pointer;
    transition: 0.25s ease;
    margin: 20px 20px auto auto;
    font-size: 16px;
}

.btnCancel {
    background-color: rgb(255, 40, 40);
    color: white;
}

    .btnCancel:hover {
        background-color: white;
        border: solid 1px rgb(255, 40, 40);
        color: rgb(255, 40, 40);
    }

.btnOK {
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px white;
    cursor: pointer;
    transition: 0.25s ease;
    margin: 20px auto auto auto;
}

    .btnOk:hover {
        background-color: rgba(25, 15, 15, 0.69);
        color: white;
    }

.btnSave {
    background-color: rgba(29, 196, 37, 0.89);
    color: white;
}

    .btnSave:hover {
        background-color: white;
        border: solid 1px rgba(29, 196, 37, 0.89);
        color: rgba(29, 196, 37, 0.89);
    }

/*Other*/
.hidden {
    display: none;
}

/*Loading animation*/
.loading-spinner {
    width: 44px;
    height: 44px;
    background-image: url("/images/spinner.png");
    background-size: 100% 100%;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin: auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(354deg);
    }
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(354deg);
    }
}


/*Other*/
.clear {
    width: 100%;
    clear: both;
}

#overlay {
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
}

#overlay .loading-spinner {
    width: 72px;
    height: 72px;
    top: calc(50% - 81px);
}