/*Project only*/
.view {
    height: 90%;
    background-position: initial, left top;
}

#projectbrowser {
    width: 60%;
    float: left;
    border-right: 1px solid gray;
    position: relative;
    overflow: hidden;
    height: 95%;
}

.right-window-content {
    margin-left: 2%;
    width: 33%;
    float: left;
    transition: left 1s ease;
    position: relative;
    left: 50%;
}

    .right-window-content.show {
        left: 0;
    }

#txtSearch {
    background: rgba(25, 15, 15, 0.5);
    height: 28px;
    min-width: 200px;
    padding: 2px 5px;
    border-radius: 6px;
    border: solid 1px rgb(128, 128, 128);
    margin-bottom: 15px;
}

input[name="txtSearch"] {
    position: relative;
    top: -10px;
    border: none;
    background: transparent;
    color: gray;
    font-size: 16px;
    font-style: italic;
}

    input[name="txtSearch"]:focus {
        color: #e6e6e6;
    }

.filter {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: rgba(25, 15, 15, 0.5);
    border-radius: 5px;
    padding: 3px 15px;
    margin: 10px;
    cursor: pointer;
}

/*Project box*/
.project-container {
    position: relative;
    float: left;
    /*background-color: rgba(25, 15, 15, 0.79);*/
    width: 200px;
    border-radius: 8px;
    margin: 20px 40px 40px 20px;
    color: #e0dfdf;
    box-shadow: 0px 0px 20px black;
    border: 1px solid #808080;
    cursor: pointer;
}

.project-header {
    background-color: rgba(25, 15, 15, 0.5);
    text-align: right;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 28px;
    line-height: 28px;
    padding: 3px 5px 0px 5px;
    cursor: pointer;
}

.project-content {
    text-align: left;
    height: 120px;
    padding: 6px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.94);
    color: black;
}

.project-footer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: right;
    background: rgba(255, 255, 255, 0.94);
    height: 30px;
}

.note-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.25s ease;
}

    .note-button:hover {
        width: 26px;
        height: 26px;
    }